/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Add hover effect for navigation links */
nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

/* Style buttons with hover effects */
form button:hover {
    background-color: #333;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.grid-item img {
    width: 100%;
    max-width: 150px; /* Ensures the width is consistent */
    height: 150px; /* Sets a consistent height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border: 1px solid #ddd; /* Adds a border for styling */
    border-radius: 5px; /* Adds border radius for rounded corners */
    display: block;
    margin: auto;
}

/* Specific style for the banner image */
.banner-image {
    max-width: 100%; /* Ensure the image does not exceed the width of the container */
    max-height: 300px; /* Set a maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: auto;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 1em 0;
    }
    
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    section {
        padding: 1em;
    }
}
